nav {
    font-size: 30px;
    margin-bottom: 15px;
    border: 1px solid rgb(7, 7, 7);
    background-color: rgb(8, 8, 8);
}

a {
    margin-left: 15px;
    color: white;
    text-shadow: 5px 5px 5px rgb(247, 182, 182);
}