           table {
               text-align: center;
               font-size: 30px;
               font-family: 'Raleway', sans-serif;
               margin-bottom: 30px;
               margin-top: 50px;
           }
           
           H1 {
               color: #ffffff;
               text-align: center;
               margin-top: 150px;
               margin-bottom: 150px;
               text-shadow: 6px 6px 6px rgb(59, 1, 1);
           }
           
           td {
               border: 2px solid black;
               padding: 5px;
           }